* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans,Poppins', sans-serif;
}

#header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    backdrop-filter: blur(15px);
}

.header-img h1 {
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.003em;
    color: #FF001E;
}

.header-a a {
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 0 10px;
    transition: .4s;
}

.header-a a:hover {
    color: red;
    transform: scale(1.1);
    border-bottom: 2px solid red;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header-img {
    display: flex;
    align-items: center;
}

.header-a button {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    background: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .4s;
    cursor: pointer;
    border: 2px solid white;
}

.header-a button:hover {
    transform: scale(1.1);
    background: red;
}

/*section*/
#hero {
    background: url("../img/bg.png") no-repeat center/cover;
    min-height: 100vh;
}

.hero h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
    padding-top: 190px;
}

.hero p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.hero button {
    width: 322px;
    height: 50px;
    left: 70px;
    top: 609px;
    background: #FF001E;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    border: none;
    transition: .4s;
    margin-top: 45px;
}

.hero button:hover {
    transform: scale(1.1);
    background: transparent;
}

.hero span {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}

.hero-div {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.hero-div div {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.hero-div div a{
    color: red;
    font-size: 40px;
}

/*section2*/
.title {
    width: 255px;
    height: 170px;
    left: 70px;
    top: 792px;
    background: #222222;
    border-radius: 20px;
}

.sec2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.sec2 img {
    padding: 25px 110px;
}

.sec2 {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

/*section3*/
#sec3 {
    background: #222222;
    margin-top: 25px;
}
.sec3 h2{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.003em;
    color: #FF001E;
    padding-top: 40px;
    padding-left: 10px;
}
.sec3 h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.car {
    position: relative;
    margin: 10px;
}
.car img {
    transition: .4s;
    z-index: 10;
    width: 380px;
}

.car img:hover {
    opacity: .3;
}

.car-text h1 {
    position: absolute;
    bottom: 30px;
    left: 110px;
    transition: .4s;
    color: white;
}

.car-text-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
/*section4*/
#sec4{
    background: #222222;
    padding-top: 30px;
}
.sec4{
    position: relative;
}
.sec4 h1 {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.003em;
    color: #FF001E;
}
.block2{
    width: 330px;
    height: 330px;
    background: white;
    border-radius: 20px;
}
.block2-block{
    width: 330px;
    height: 90px;
    background: #000;
    border-radius: 20px;
}
.circles div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
.circles{
    padding-left: 35px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 260px;
}
.block2-block a{
    color: red;
    font-size: 35px;
}
.icon{
    padding-top: 20px;
    padding-left: 45px;
}
.block2 h1{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.003em;
    color: red;
    padding-top: 10px;
    padding-left: 35px;
}
.block2 p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.003em;
    color: #000000;
    padding-left: 35px;
    padding-top: 9px;
}
.foot span{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.003em;
    color: #000000;
    padding-left: 35px;
}
.foot h1{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.003em;
    color: #FF001E;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    padding-top: 18px;
}
.blocks{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.sec4 button{
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    background: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    transition: .4s;
    cursor: pointer;
    border: 2px solid white;
    width: 350px;
    height: 60px;
    margin: 30px 426px;
}

.sec4 button:hover {
    transform: scale(1.1);
    background: red;
}

/*section5*/
.bloks{
    display: flex;
    justify-content: space-between;
    width: 1140px;
}
.sec5 h1 {
    font-weight: 700;
    font-size: 29px;
    letter-spacing: 0.003em;
    color: #FF001E;
    padding: 30px 30px;
}
.blok1{
    width: 400px;
    height: 400px;
    background: #222222;
    border-radius: 20px;
    margin-left: 60px;
    position: relative;
}
.blok1 h1{
    font-weight: 700;
    font-size: 288px;
    color: rgba(255, 0, 30, 0.2);
    padding: 0 1px;
}
.blok2{
    width: 650px;
    height: 400px;
    background: #222222;
    border-radius: 20px;
}
.blok1-div h2{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.003em;
    color: #FF001E;
    position: absolute;
    bottom: 300px;
    left: 65px;
}
.blok1-div p{
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 175px;
}
.logo div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}
.logo span{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.003em;
    color: #FFFFFF;

}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin: 15px 0;
    padding-left: 20px;
}
.blok1-div{
    position: absolute;
    bottom: 50px;
}
.blok1-div img{
    padding-left: 20px;
    position: relative;
    top: 40px;
}
.img{
    margin: 20px 0 10px 0;
}
.logos{
    position: absolute;
    bottom: 80px;
}
/*ijwvi*/
.blok2{
    position: relative;
}
.blok2 h2{
    font-weight: 700;
    font-size: 288px;
    color: rgba(255, 0, 30, 0.2);
    padding: 0 20px;
}
.blok2-div h3{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.003em;
    color: #FF001E;
    position: absolute;
    bottom: 347px;
    left: 90px;
}
.blok2-div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    position: absolute;
    bottom: 270px;
    left: 20px;
}
.logo2 div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}
.logo2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
}
.logos2 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
}
.logos2{
    position: relative;
    bottom: 190px;
    left: 20px;
}
.blok2 img{
    position: absolute;
    bottom: 40px;
    left: 250px;
}
/*ifjweifj*/

.blk1{
    width: 650px;
    height: 400px;
    background: #222222;
    border-radius: 20px;
    position: relative;
}
.blk2{
    width: 400px;
    height: 400px;
    background: #222222;
    border-radius: 20px;
}
.blks{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    padding-left: 58px;
    padding-top: 20px;
}
.blk1 h1{
    font-weight: 700;
    font-size: 288px;
    color: rgba(255, 0, 30, 0.2);
    padding: 0 15px;
}
.blk1 h2{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.003em;
    color: #FF001E;
    position: absolute;
    bottom: 350px;
    left: 220px;
}
.blk1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    position: absolute;
    bottom: 290px;
    left: 20px;
}
.blk1 img{
    position: absolute;
    bottom: 25px;
    left: 30px;
}
.blk2 h1{
    font-weight: 700;
    font-size: 288px;
    color: rgba(255, 0, 30, 0.2);
    padding: 0 20px;

}
.blk2 h2{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.003em;
    color: red;
    position: relative;
    bottom: 320px;
    left: 70px;
}
.blk2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    position: relative;
    bottom: 315px;
    left: 20px;
}
.wd-we span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: white;
    padding-left: 30px;
}
.wd-we div{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}
.wd-we{
    display: flex;
    align-items: center;
}
.wdwd{
    position: relative;
    bottom: 300px;
    left: 20px;
}
.blk2 img{
    position: relative;
    bottom: 300px;
    width: 350px;
    height: 100px;
    left: 24px;
}
.bigbl{
    width: 1080px;
    height: 342px;
    top: 4562px;
    background: #222222;
    border-radius: 20px;
    margin-left: 59px;
    margin-top: 20px;
}
.jkjkjk div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}
.jkjkjk{
    display: flex;
    align-items: center;
}
.bigbl h1{
    font-weight: 700;
    font-size: 288px;
    color: rgba(255, 0, 30, 0.2);
    padding: 0 15px;

}
.bigbl h2{
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.003em;
    color: #FF001E;
    position: relative;
    bottom: 320px;
    left: 270px;
}
.bigbl p{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    position: relative;
    bottom: 300px;
    left: 20px;
}
.jkjkjk span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    padding-left: 20px;
}
.jkjk{
    position: relative;
    bottom: 290px;
    left: 20px;
}
/*section6*/
#sec6{
    background: #222222;
    margin-top: 50px;
}
.sec6 h1{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.003em;
    color: #FF001E;
    padding: 50px 0 30px 20px;
}
.sec6 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
    padding: 10px 20px;
}
.sec6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    padding-left: 55px;
}
/*-------tabs--------*/
#tabs{
    background: #989898;
    min-height: 100vh;
}
.front{
    width: 85px;
    height: 85px;
    background: #714634;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.front img{
    width: 35px;
}
.front h4{
    color: white;
    font-size: 13px;
}
.fgfg{
    display: grid;
    grid-template-columns: repeat(9,3fr);
    gap: 1rem;
}
.front2{
    width: 85px;
    height: 85px;
    background: #24908A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.front2 img{
    width: 35px;
}
.front2 h4{
    color: white;
    font-size: 13px;
}
.front3{
    width: 85px;
    height: 85px;
    background: #AF2A2A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.front3 img{
    width: 35px;
}
.front3 h4{
    color: white;
    font-size: 13px;
}
.front4{
    width: 85px;
    height: 85px;
    background: #4D2B6F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.front4 img{
    width: 35px;
}
.front4 h4{
    color: white;
    font-size: 13px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu input{
    display: none;
}
.tabss{
    display: flex;
    align-items: center;

}



